@model List<RoadTrip.Models.Traveler>

@{
    ViewData["Title"] = "Compare";
}

<h1 align="center">Trip Cost Comparison</h1>

<div class="container">

    <canvas id="myChart"></canvas>

</div>


<script>

    var tId = @Html.Raw(Json.Serialize(ViewBag.TripN));

    var cost = @Html.Raw(Json.Serialize(ViewBag.Cost));

    window.onload = function populateChart() {

        var ctx = document.getElementById('myChart').getContext('2d');

        var myChart = new Chart(ctx, {

            type: "bar",

            data: {

                labels: tId,

                datasets: [{

                    

                    data: cost

                    ,

                    backgroundColor: [

                        'rgba(255, 99, 132, 0.2)',

                        'rgba(54, 162, 235, 0.2)',

                        'rgba(255, 206, 86, 0.2)',

                        'rgba(75, 192, 192, 0.2)',

                        'rgba(153, 102, 255, 0.2)',

                        'rgba(255, 159, 64, 0.2)'

                    ],

                    borderColor: [

                        'rgba(255, 99, 132, 1)',

                        'rgba(54, 162, 235, 1)',

                        'rgba(255, 206, 86, 1)',

                        'rgba(75, 192, 192, 1)',

                        'rgba(153, 102, 255, 1)',

                        'rgba(255, 159, 64, 1)'

                    ],

                    borderWidth: 1

                }]

            },

            options: {

                scales: {

                    title: {
                        display: true,
                        text: "Trip Cost Comparison in US Dollars"
                    },

                    yAxes: [{

                        ticks: {

                            beginAtZero: true

                        },

                        scaleLabel: {

                            display: true,

                            labelString: 'Cost (U$)'

                        }

                    }],

                    xAxes: [{

                        
                        scaleLabel: {

                            display: true,

                            labelString: 'Trip'

                        }

                    }]

                }

            }

        });

    }



</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>



<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<p align="center">
    <a class="nav-link text-dark" asp-area="" asp-controller="Travelers" asp-action="Index">Trip List</a> - <a asp-action="Create">Create New Trip</a> - <a asp-action="Route">Routes & More</a> - <a asp-action="Eat">Restauarants</a> - <a asp-action="Sleep">Hotels</a> - <a asp-action="Compare">Compare Trip Cost</a> - <a asp-action="Miles">Compare Trip Mileage</a>
</p>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}