@model RoadTrip.Models.Traveler

@{ ViewData["Title"] = "Create"; }

<h1>Create</h1>

<h4>Traveler</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="From" class="control-label"></label>
                <input asp-for="From" class="form-control" />
                <span asp-validation-for="From" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="To" class="control-label"></label>
                <input asp-for="To" class="form-control" />
                <span asp-validation-for="To" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Distance" class="control-label"></label>
                <input asp-for="Distance" class="form-control" onchange="stops();" />
                <span asp-validation-for="Distance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stops" class="control-label"></label>
                <input asp-for="Stops" class="form-control" />
                <span asp-validation-for="Stops" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GasCost" class="control-label"></label>
                <input asp-for="GasCost" class="form-control" />
                <span asp-validation-for="GasCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SnackCost" class="control-label"></label>
                <input asp-for="SnackCost" class="form-control" />
                <span asp-validation-for="SnackCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Emergency" class="control-label"></label>
                <input asp-for="Emergency" class="form-control" onchange="budget();" />
                <span asp-validation-for="Emergency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TripCost" class="control-label"></label>
                <input asp-for="TripCost" class="form-control" />
                <span asp-validation-for="TripCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>How Much to Budget Monthly for this Trip</label>
                <input asp-for="MonthBudget" class="form-control"/>
                <span asp-validation-for="MonthBudget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button onclick="save();">Click Here for Months</button>
            </div>
            <div class="form-group">
                <label asp-for="BudgetMonth" class="control-label"></label>
                <input asp-for="BudgetMonth" class="form-control" />
                <span asp-validation-for="BudgetMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <script type="text/javascript">
                function stops() {

                    let distance = (document.getElementById("Distance").value);

                    var stp = (distance) / 250;
                    let output1 = Math.abs(Math.round(stp));

                    document.getElementById("Stops").value = output1;

                    var gas = (stp) * (15 * 2.11);
                    let output2 = Math.abs(Math.round(gas));
                    document.getElementById("GasCost").value = output2;

                    var snack = (stp) * 20;
                    let output3 = Math.abs(Math.round(gas));
                    document.getElementById("SnackCost").value = output3;

                }
                function budget() {
                    let c1 = (document.getElementById("GasCost").value);
                    let c2 = (document.getElementById("SnackCost").value);
                    let c3 = (document.getElementById("Emergency").value);

                    var tc = parseInt(c1) + parseInt(c2) + parseInt(c3);

                    let final = Math.abs(Math.round(tc));
                    document.getElementById("TripCost").value = final;
                }

                function save() {
                    let c1 = (document.getElementById("TripCost").value);
                    let sv = (document.getElementById("MonthBudget").value);


                    var end = parseInt(c1) / parseInt(sv);

                    let final = Math.abs(Math.round(end));
                    document.getElementById("BudgetMonth").value = final;
                }
            </script>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
