@model RoadTrip.Models.Traveler

@{ ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout2.cshtml";}
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Budget Setup</title>
    <style>
        /* Always set the map height explicitly to define the size of the div
            * element that contains the map. */
        #map {
            height: 100%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #floating-panel {
            position: absolute;
            top: 200px;
            left: 40%;
            z-index: 5;
            background-color: #fff;
            padding: 5px;
            border: 1px solid #999;
            text-align: center;
            font-family: 'Roboto','sans-serif';
            line-height: 30px;
            padding-left: 10px;
        }

        #right-panel {
            font-family: 'Roboto','sans-serif';
            line-height: 30px;
            padding-left: 10px;
        }

            #right-panel select, #right-panel input {
                font-size: 15px;
            }

            #right-panel select {
                width: 100%;
            }

            #right-panel i {
                font-size: 12px;
            }

        #right-panel {
            height: 100%;
            float: right;
            width: 390px;
            overflow: auto;
        }

        #map {
            margin-right: 400px;
        }

        #floating-panel {
            background: #fff;
            padding: 5px;
            font-size: 14px;
            font-family: Arial;
            border: 1px solid #ccc;
            box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
            display: none;
        }

        #print {
            #map

        {
            height: 500px;
            margin: 0;
        }

        #right-panel {
            float: none;
            width: auto;
        }
        }
    </style>
</head>
<h1 align="center">Create your Trip</h1>

<h4 align="center">Traveler</h4>
<hr /><div id="floating-panel">
    <strong>Make that Budget!!!</strong>
    
</div>
<div id="right-panel"></div>
<div id="map"></div>
<script>
    function initMap() {
        var directionsRenderer = new google.maps.DirectionsRenderer;
        var directionsService = new google.maps.DirectionsService;
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 7,
            center: { lat: 41.85, lng: -87.65 }
        });
        directionsRenderer.setMap(map);
        directionsRenderer.setPanel(document.getElementById('right-panel'));

        var control = document.getElementById('floating-panel');
        control.style.display = 'block';
        map.controls[google.maps.ControlPosition.TOP_CENTER].push(control);

        var onChangeHandler = function () {
            calculateAndDisplayRoute(directionsService, directionsRenderer);
        };
        document.getElementById('start').addEventListener('change', onChangeHandler);
        document.getElementById('end').addEventListener('change', onChangeHandler);
    }

    function calculateAndDisplayRoute(directionsService, directionsRenderer) {
        var start = document.getElementById('start').value;
        var end = document.getElementById('end').value;
        directionsService.route({
            origin: start,
            destination: end,
            travelMode: 'DRIVING'
        }, function (response, status) {
            if (status === 'OK') {
                directionsRenderer.setDirections(response);
            } else {
                window.alert('Directions request failed due to ' + status);
            }
        });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=@GoogleMapsAPI.API&callback=initMap">
</script>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="From" class="control-label"></label>
                <input asp-for="From" class="form-control"  id="start" />
                <span asp-validation-for="From" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="To" class="control-label"></label>
                <input asp-for="To" class="form-control" id="end" />
                <span asp-validation-for="To" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Distance" class="control-label"></label>
                <input asp-for="Distance" class="form-control" onchange="stops();" />
                <span asp-validation-for="Distance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stops" class="control-label"></label>
                <input asp-for="Stops" class="form-control" />
                <span asp-validation-for="Stops" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GasCost" class="control-label"></label>
                <input asp-for="GasCost" class="form-control" />
                <span asp-validation-for="GasCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SnackCost" class="control-label"></label>
                <input asp-for="SnackCost" class="form-control" />
                <span asp-validation-for="SnackCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Emergency" class="control-label"></label>
                <input asp-for="Emergency" class="form-control" onchange="budget();" />
                <span asp-validation-for="Emergency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TripCost" class="control-label"></label>
                <input asp-for="TripCost" class="form-control" />
                <span asp-validation-for="TripCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>How Much to Budget Monthly for this Trip</label>
                <input asp-for="MonthBudget" class="form-control" />
                <span asp-validation-for="MonthBudget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button onclick="save();">Click Here for Months</button>
            </div>
            <div class="form-group">
                <label asp-for="BudgetMonth" class="control-label"></label>
                <input asp-for="BudgetMonth" class="form-control" />
                <span asp-validation-for="BudgetMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <script type="text/javascript">
                function stops() {

                    let distance = (document.getElementById("Distance").value);

                    var stp = (distance) / 250;
                    let output1 = Math.abs(Math.round(stp));

                    document.getElementById("Stops").value = output1;

                    var gas = (stp) * (15 * 2.18);
                    let output2 = Math.abs(Math.round(gas));
                    document.getElementById("GasCost").value = output2;

                    var snack = (stp) * 20;
                    let output3 = Math.abs(Math.round(snack));
                    document.getElementById("SnackCost").value = output3;

                }
                function budget() {
                    let c1 = (document.getElementById("GasCost").value);
                    let c2 = (document.getElementById("SnackCost").value);
                    let c3 = (document.getElementById("Emergency").value);

                    var tc = parseInt(c1) + parseInt(c2) + parseInt(c3);

                    let final = Math.abs(Math.round(tc));
                    document.getElementById("TripCost").value = final;
                }

                function save() {
                    let c1 = (document.getElementById("TripCost").value);
                    let sv = (document.getElementById("MonthBudget").value);


                    var end = parseInt(c1) / parseInt(sv);

                    let final = Math.abs(Math.round(end));
                    document.getElementById("BudgetMonth").value = final;
                }
            </script>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
