@{ ViewData["Title"] = "Home Page"; }

<div class="text-sm-left">

    <font color="FFA500">    <h1 class="display-4">We are Road Tripper</h1> </font>



</div>

<style>

body { background-image: url('https://cdn.onlyinyourstate.com/wp-content/uploads/2017/05/3849642042_cb52e87127_o.jpg'); background-repeat: no-repeat; background-size: 2000px 912px; }



    h1 {
        margin: auto;
    }



    #demo {
        margin-top: 400px;
    }



    .myDiv {
        text-align: center;
        margin-top: 200px;
    }



        .myDiv.display-4 {
            text-shadow: inherit;
        }



    #container {
        margin-top: 200px;
    }



        #container.text-lg-left {
            margin-top: 500px;
        }



    .contact-form {
        background: rgba(0,0,0, .6);
        color: white;
        margin-top: 100px;
        padding: 20px;
        box-shadow: 0px 0 px 10px 3px grey;
    }
</style>

<div class="myDiv">
<font color="FFA500">
    <h1 class="display-4">-100% Satisfaction Gauranteed-</h1>

    <h1 class="display-1">Plan It</h1>

    <h1 class="display-1">Do It</h1>

    </font>


</div>




<div id="container" class="container">

    <h1>ABOUT US</h1>

    <div style="display:-webkit-inline-box;"></div>

    <h2>Plan it so you Can DO it!</h2>

    <div class="text-lg-left">

        <p>

            We are the premeir site for your road trip planning needs. Go explore Now!

        </p>

    </div>

</div>

<div class="container contact-form">

    <h1 class="display-4">Contact</h1>

    <div class="col-md-6">

        <h2>The Road Tripper</h2>

        <address>Newton, NC 28658</address>

        <p>Email:- RoadTrip@gmail.com</p>



    </div>

    <div classs="col-md-6">

        <div class="form-group">

            <label>Name</label>

            <input type="text" class="form-control">

        </div>

        <div class="form-group">

            <label>Email</label>

            <input type="text" class="form-control">

        </div>

        <div class="form-group">

            <label>Message</label>

            <textarea class="form-control" rows="5"></textarea>



        </div>

        <div class="form-group">

            <button class="btn btn-primary btn-block">Send</button>

        </div>

    </div>

</div>
